@model KarakasWenAdmin.Models.Entitys.Post

@{
    ViewData["Title"] = "GonderiEkle";
}

<h3>Yeni Gönderi Ekle </h3>

<hr />
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="GonderiEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-1">
                <label asp-for="PicturePath" class="control-label font-weight-bold"></label>
                <input asp-for="PicturePath" class="form-control" />
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group  mb-1">
                <label asp-for="Title" class="control-label font-weight-bold"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group  mb-1">
                <label asp-for="Description" class="control-label font-weight-bold"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortContent" class="control-label font-weight-bold"></label>
                @Html.TextAreaFor(model => model.ShortContent, new { @id = "editor1" })
                <span asp-validation-for="ShortContent" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="FullContent" class="control-label font-weight-bold"></label>
                @Html.TextAreaFor(model => model.FullContent, new { @id = "editor2" })
                <span asp-validation-for="FullContent" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                  <label asp-for="CategoryId" class="control-label font-weight-bold"></label>
                <div class="dropdown">
                         <select asp-for="CategoryId" class="dropdown-item" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name") )"></select>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="ViewCount" class="control-label font-weight-bold"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-1">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
           

            <div class="form-group form-check">
                <label class="form-check-label">
                 <input class="form-check-input" asp-for="AllowComment" /> @Html.DisplayNameFor(model => model.AllowComment)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        CKEDITOR.replace("editor1");
        CKEDITOR.replace("editor2");

    </script>
}
