@model IEnumerable<KarakasWenAdmin.Models.Entitys.Comment>

@{
    ViewData["Title"] = "Index";
}

<h2 > Yorumlar  </h2>

<div class="row mb-3">
    <div class="col-md-6">
        <a asp-action="TumList" asp-controller="Yorumlar" class="btn btn-lg btn-success">
            <i class="fa fa-plug-circle-plus">
                Tüm Yorumlar
            </i>
        </a>
    </div>
</div>
<hr />
<table class="table table-hover table-striped table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAdres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i>  Düzenleme </a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
