@using WebYonetimFatihKarakasNetCore3.Models.Entitys
@model List<Referanslar>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Durum(bool b)
    {
        string s = b == true ? "Aktif" : "Pasif";
        return s;

    }
}

<h1>Refaranslarım</h1>
<hr />
<div class="row mb-3">
    <div class="col-md-6">
        <a asp-action="ReferansEkle" asp-controller="Referans" class="btn btn-lg btn-success">
            <i class="fa fa-plug-circle-plus">
                Referans Ekle 
            </i>
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Aciklama</th>
            <th>Platform</th>
            <th>Link</th>
            <th>Durum</th>
            <th>İşlem</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>@item.Baslik  </td>
            <td>@Html.Raw(item.Aciklama)</td>
            <td>@item.Platform</td>
            <td><a href="@item.LinUrl" target="_blank" >@item.LinUrl</a></td>
            <td>@Durum(item.Yayinda)</td>
            <td>
                <a class="btn btn-warning btn-sm" asp-controller="Referans" asp-action="Edit" asp-route-Id="@item.Id" >
                <i class="fa fa-edit"></i>
            </a>
                <button class="btn btn-sm btn-danger">
                 <i class="fa fa-trash"></i> 
            </button>
            </td>
        </tr> 
        }
      
    </tbody>
</table>

@section Scripts{
    @if (ViewData["result"] != "")
    {
        <script>
            toastr["success"]("Güncelleme İşlemei tamamlandı", "Güncelleme Tamamlandı");
        </script>
    }
}




